html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 20px;
  font-family: "Michroma", sans-serif;
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  opacity: 0.8;
  -webkit-box-shadow: 0 -5px 30px 1px #222222;
  -moz-box-shadow: 0 -5px 30px 1px #222222;
  box-shadow: 0 -5px 30px 1px #222222;
  z-index: 1;
}

.navbar-brand {
  padding: 0%;
  margin: 0%;
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
}

.navbar-light .navbar-nav .nav-link {
  color: #000099;
  margin-left: 80px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active {
  padding-top: 13px;
  color: #000099;
  /* border-bottom: 5px solid #000099; */
}

.navbar-light .navbar-nav .nav-link:hover {
  padding-top: 13px;
  color: #000000;
  /* border-bottom: 5px solid #000000; */
}

.nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 5px solid #000099;
  border-radius: 0;
  transition-delay: 5s;
}

.nav-item {
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  .navbar {
    padding: 30px;
  }

  .navbar-brand img {
    height: 50px;
    width: auto;
  }

  .navbar-light .navbar-nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 0px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
}

h3 {
  font-size: 40px;
  padding: 20px 30px 10px 30px;
  border-bottom: 6px solid rgba(0, 0, 153, 0.4);
  margin-bottom: 50px;
}

.h3_heading_about {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h3_heading {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.icon_heading {
  font-size: 30px;
  font-weight: bold;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.contact-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  overflow: hidden;
  padding: 2em;
}

input {
  padding: 5px 15px;
}

.input-width-max {
  max-width: 100px;
}

@media screen and (max-width: 992px) {
  .h3_heading {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.container_top {
  max-width: 1800px;
}

.container-fluid {
  padding: 0%;
  align-items: stretch !important;
}

.container {
  max-width: 1600px;
}

/* .showcase {
  background-image: url(./img/backgrounds/showcase.jpg);
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.showcase {
  background: linear-gradient(to bottom, transparent, 80%, white), url('../img/backgrounds/showcase.jpg');
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_img {
  background-image: url('../img/backgrounds/connect_light_bw.jpg');
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 33.33%;
  height: 600px;
  perspective: 5000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(255, 255, 255, 0);
  padding: 5%;
}

.flip-card-back {
  background-color: rgba(0, 0, 153, 0.877);
  color: white;
  transform: rotateY(180deg);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back p {
  padding-top: 50px !important;
}

@media screen and (max-width: 992px) {
  .flip-card {
    width: 80%;
    height: 700px;
  }

  .flip-card-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .flip-card {
    width: 80%;
    height: 600px;
  }
}

@media screen and (max-width: 700px) {
  .flip-card {
    width: 80%;
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .flip-card {
    width: 80%;
    min-height: 800px;
  }
}


/* This had to be added, otherwise when shrunk the site is static and can't scroll down/up */
@media all and (max-width: 559px){
  body{
    position: relative;
  }
}

.captcha{
  width: 304px;
  margin: auto;
}