/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset end */



html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  /* font-size: 20px; */
  font-family: 'Oswald', sans-serif;
  /* font-family: "Michroma", sans-serif; */
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  -webkit-box-shadow: 0 -5px 30px 1px #222222;
  -moz-box-shadow: 0 -5px 30px 1px #222222;
  box-shadow: 0 -5px 30px 1px #222222;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}

.navbar-brand {
  padding: 0%;
  margin: 0%;
}

.navbar-logo-container {
  padding: 2rem;
}



.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
}

.navbar-light .navbar-nav .nav-link {
  color: #000099;
  margin-left: 80px;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link.active {
  padding-top: 13px;
  color: #000099;
  /* border-bottom: 5px solid #000099; */
}

.navbar-light .navbar-nav .nav-link:hover {
  padding-top: 13px;
  color: #000000;
  /* border-bottom: 5px solid #000000; */
}

.nav-pills .nav-link.active {
  background-color: transparent;
  border-bottom: 5px solid #000099;
  border-radius: 0;
  transition-delay: 5s;
}

.nav-item {
  display: flex;
}

.nav-link {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 990px) {
  .navbar {
    padding: 30px;
  }

  .navbar-brand img {
    height: 50px;
    width: auto;
  }

  .navbar-light .navbar-nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 0px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
}

h3 {
  font-size: 40px;
  padding: 20px 30px 10px 30px;
  border-bottom: 6px solid rgba(0, 0, 153, 0.4);
  margin-bottom: 50px;
}

.h3_heading_about {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.h3_heading {
  margin-top: 50px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.icon_heading {
  font-size: 30px;
  font-weight: bold;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.width-90 {
  width: 90%;
}

.width-100 {
  width: 100%;
}

.contact-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  overflow: hidden;
  padding: 2em;
}

input {
  padding: 5px 15px;
}

.input-width-max {
  max-width: 100px;
}

@media screen and (max-width: 992px) {
  .h3_heading {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.container_top {
  max-width: 1800px;
}

.container-fluid {
  max-width: 80rem;
  padding: 0%;
  /* align-items: stretch !important; */
}

.container {
  max-width: 1600px;
}

/* .showcase {
  background-image: url(./img/backgrounds/showcase.jpg);
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
} */

.showcase {
  background: linear-gradient(to bottom, transparent, 80%, white), url(./img/backgrounds/showcase.jpg);
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg_img {
  background-image: url(./img/backgrounds/connect_light_bw.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 33.33%;
  height: 600px;
  perspective: 5000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(255, 255, 255, 0);
  padding: 5%;
}

.flip-card-back {
  background-color: rgba(0, 0, 153, 0.877);
  color: white;
  transform: rotateY(180deg);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back p {
  padding-top: 50px !important;
}

@media screen and (max-width: 992px) {
  .flip-card {
    width: 80%;
    height: 700px;
  }

  .flip-card-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .flip-card {
    width: 80%;
    height: 600px;
  }
}

@media screen and (max-width: 700px) {
  .flip-card {
    width: 80%;
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .flip-card {
    width: 80%;
    min-height: 800px;
  }
}









/* Basic Settings */
:root {
  --clr-primary: #000099;
  --clr-accent: #292E1E;

  --clr-white: #ffffff;
  --clr-black: #000000;

  --fs-normal: 16px;
  --fs-bigger: 18px;
}

body {
  overflow-x: hidden;
}

/* Basic Settings end*/

/* Primary header */
.primary-header {
  position: fixed;
  z-index: 1000;
  width: 100%;

  background-color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 35rem) {
  /* fix for background blur */
  .primary-header {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
}

.primary-header__container {
  display: flex;
  justify-content: space-between;

  margin-inline: auto;
  padding-inline: 2rem;

  max-width: 80rem;
}

/* logo */
.primary-header__logo {
  margin: .5rem;
}

.primary-header__logo img {
  width: 120px;
}

/* navigation */
.primary-nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style-type: none;
}

.primary-nav__mobile-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-nav {
    position: fixed;
    inset: 0;
    padding-top: 6rem;
    padding-right: 2rem;
    align-items: flex-end;

    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-nav__mobile-toggle {
    display: block;

    z-index: 2000;
    align-self: center;

    width: 2rem;
    height: 2rem;
    
    background: red;
    border: 0;
  }
}

.primary-nav__link {
  font-size: var(--fs-bigger);
  text-decoration: none;
  
  color: var(--clr-primary);

  transition: color 0.5s;
}

.primary-nav__link.active {
  color: var(--clr-accent);
  text-decoration: underline;
}

/* Primary header end */