/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: initial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset end */

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;

  /* font-family: 'Oswald', sans-serif; */

  /* font-family: 'ABeeZee', sans-serif; */
  font-family: 'Questrial', sans-serif;
  /* font-family: 'Trykker', serif; */

  font-size: min(5vw, var(--fs-bigger-yet));
  line-height: 2rem;
}








.icon_heading {
  font-size: 30px;
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

input {
  padding: 5px 15px;
}

.input-width-max {
  max-width: 100px;
}

.container {
  max-width: 1600px;
}

.bg_img {
  background-image: url(./img/backgrounds/connect_light_bw.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flip-card {
  background-color: transparent;
  width: 33.33%;
  height: 600px;
  perspective: 5000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(255, 255, 255, 0);
  padding: 5%;
}

.flip-card-back {
  background-color: rgba(0, 0, 153, 0.877);
  color: white;
  transform: rotateY(180deg);
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flip-card-back p {
  padding-top: 50px !important;
}

@media screen and (max-width: 992px) {
  .flip-card {
    width: 80%;
    height: 700px;
  }

  .flip-card-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .flip-card {
    width: 80%;
    height: 600px;
  }
}

@media screen and (max-width: 700px) {
  .flip-card {
    width: 80%;
    height: 500px;
  }
}

@media screen and (max-width: 600px) {
  .flip-card {
    width: 80%;
    min-height: 800px;
  }
}









/* Basic Settings */
:root {
  --clr-primary: #000099;
  --clr-accent: #ccbf00;
  --clr-dark: #0a0f0d;
  --clr-light: #fffbfa;

  --clr-white: #ffffff;
  --clr-black: #000000;

  --fs-normal: 16px;
  --fs-bigger: 1.125rem;
  --fs-bigger-yet: 1.25rem;
  --fs-h1: 9rem;
  --fs-h1-sub: 1.5rem;
  --fs-h3-section-header: 3rem;

  --fw-normal: 400;
  --fw-bold: 600;
  --fw-light: 200;

  --fls-accent-smaller: .125rem;
  --fls-accent: .25rem;
  --fls-accent-bigger: .25rem;
}

body {
  overflow-x: hidden;
}

/* Basic Settings end*/

/* General Classes */

.main-container-wrap--showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.main-container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-block: 5rem;
}

.main-container--showcase {
  width: 100%;
  max-width: 80rem;
  padding-inline: 2rem;
}

.main-container {
  width: 100%;
  max-width: 80rem;
  padding-inline: 2rem;
}

/* General Classes end */

/* Primary header */
.primary-header {
  position: fixed;
  z-index: 1000;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  transition: top 0.3s;
}

@media (min-width: 35rem) {
  /* fix for background blur */
  .primary-header {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
}

.primary-header__container {
  display: flex;
  justify-content: space-between;

  margin-inline: auto;
  padding-inline: 2rem;

  max-width: 80rem;
}

/* logo */
.primary-header__logo {
  margin: .2rem;
}

.primary-header__logo > a {
  display: flex;
}

.primary-header__logo img {
  width: min(25vw, 110px);
}

/* navigation */
.primary-nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style-type: none;
}

.primary-nav__mobile-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-nav {
    position: fixed;
    inset: 0;
    padding-top: 6rem;
    padding-right: 2rem;
    align-items: flex-end;

    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-nav__mobile-toggle {
    display: block;

    z-index: 2000;
    align-self: center;

    width: 2rem;
    height: 2rem;
    
    background: red;
    border: 0;
  }
}

.primary-nav__link {
  font-size: var(--fs-bigger);
  letter-spacing: var(--fls-accent-smaller);
  text-decoration: none;
  
  color: var(--clr-light);

  transition: color 0.5s;
}

.primary-nav__link:hover {
  color: var(--clr-primary);
  text-decoration: underline;
}

.primary-nav__link.active {
  color: var(--clr-primary);
  text-decoration: underline;
}

/* Primary header end */

/* Showcase */

.showcase {
  position: relative;

  display: flex;

  background: url(./img/backgrounds/showcase.jpg);
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.showcase::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);

  z-index: 10;
}

.hero-video {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
  .hero-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .hero-video {
    width: auto;
    height: 100%;
  }
}

.showcase__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--clr-light);
  text-transform: uppercase;
  /* font-size: min(15vw, var(--fs-h1)); */
  letter-spacing: var(--fls-accent);
  line-height: initial;

  z-index: 15;
}

.showcase__title {
  font-family: 'Audiowide', cursive;
  /* font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rubik 80s Fade', cursive;
  font-family: 'Russo One', sans-serif; */

  font-size: min(15vw, var(--fs-h1));
  cursor: default;

  color: transparent;
  -webkit-text-stroke: 3px var(--clr-light);

  transition: color .3s, -webkit-text-stroke .3s;
}

.showcase__title:hover {
  /* -webkit-text-stroke: 3px var(--clr-white);
  color: transparent; */

  -webkit-text-stroke: 0;
  color: white;
}

.showcase__subtitle {
  font-family: 'Audiowide', cursive;
  /* font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rubik 80s Fade', cursive;
  font-family: 'Russo One', sans-serif; */

  font-size: min(3vw, var(--fs-h1-sub));
  cursor: default;

  text-align: center;
}

/* Showcase end */

/* Sections */

.section-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-header-container--left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.section-header {
  font-family: 'Audiowide', cursive;
  font-size: min(8vw, var(--fs-h3-section-header));

  color: var(--clr-dark);

  padding: 20px 30px 0px 30px;
  /* border-bottom: 6px solid var(--clr-primary); */
  margin-block: 50px;
}

/* About Us */

/* Contact us */
.section--contact {
  padding-block: 5rem;
}

.bg_img--contacts {
  background-image: url(./img/backgrounds/abstract_blue_2.png);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form {
  background-color: transparent;
  overflow: hidden;
  padding: 2em;
  color: var(--clr-light);
}

.contact-form input,
.contact-form textarea {
  background-color: transparent;
  color: var(--clr-light);

  border: 1px solid var(--clr-dark);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--clr-light);
  opacity: .2;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: transparent;
  color: var(--clr-light);

  border: 1px solid var(--clr-primary);

  outline: none;
  box-shadow: none;
}

/* Sections end*/

/* Utility classes */

.text-center {
  text-align: center;
}

.text-light {
  color: var(--clr-light);
}

/* Utility classes end */