/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: initial;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea, button, select {
  font: inherit;
}

/* Reset end */

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  height: 100%;

  /* font-family: 'Oswald', sans-serif; */

  /* font-family: 'ABeeZee', sans-serif; */
  font-family: 'Questrial', sans-serif;
  /* font-family: 'Trykker', serif; */

  color: var(--clr-light);
  font-size: min(5vw, var(--fs-bigger-yet));
  line-height: 2rem;
}








.icon_heading {
  font-size: 30px;
  font-weight: bold;
}

.width-100 {
  width: 100%;
}

input {
  padding: 5px 15px;
}

.input-width-max {
  max-width: 100px;
}

.container {
  max-width: 1600px;
}

.bg_img {
  background-image: url(./img/backgrounds/connect_light_bw.jpg);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}











/* Basic Settings */
:root {
  --clr-primary: #000099;
  --clr-accent: #ccbf00;
  --clr-dark: #0a0f0d;
  --clr-light: #fffbfa;

  --clr-white: #ffffff;
  --clr-black: #000000;

  --fs-normal: 16px;
  --fs-bigger: 1.125rem;
  --fs-bigger-yet: 1.25rem;
  --fs-h1: 9rem;
  --fs-h1-sub: 1.5rem;
  --fs-h3-section-header: 3rem;
  --fs-h4: 2rem;

  --fw-normal: 400;
  --fw-bold: 600;
  --fw-light: 200;

  --fls-accent-smaller: .125rem;
  --fls-accent: .25rem;
  --fls-accent-bigger: .25rem;
}

body {
  overflow-x: hidden;
}

/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 5px;
  background: #000000;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-dark);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-primary);
}

/* Basic Settings end*/

/* General Classes */

.main-container-wrap--showcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.main-container-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding-block: 5rem;
}

.main-container--showcase {
  width: 100%;
  max-width: 80rem;
  padding-inline: 2rem;
}

.main-container {
  width: 100%;
  max-width: 80rem;
  padding-inline: 2rem;
}

/* General Classes end */

/* Primary header */
.primary-header {
  position: fixed;
  z-index: 1000;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid var(--clr-light);

  transition: top 0.3s;
}

@media (min-width: 35rem) {
  /* fix for background blur */
  .primary-header {
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
}

.primary-header__container {
  display: flex;
  justify-content: space-between;

  margin-inline: auto;
  padding-inline: 2rem;

  max-width: 80rem;
}

/* logo */
.primary-header__logo {
  margin: .2rem;
}

.primary-header__logo > a {
  display: flex;
}

.primary-header__logo img {
  width: min(25vw, 110px);
}

/* navigation */
.primary-nav {
  display: flex;
  align-items: center;
  gap: 2rem;

  list-style-type: none;
}

.primary-nav__mobile-toggle {
  display: none;
}

@media (max-width: 35rem) {
  .primary-nav {
    position: fixed;
    inset: 0;
    padding-top: 6rem;
    padding-right: 2rem;
    align-items: flex-end;

    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);

    transform: translateX(100%);
    transition: transform 350ms ease-in-out;
  }

  .primary-nav[data-visible="true"] {
    transform: translateX(0%);
  }

  .primary-nav__mobile-toggle {
    display: block;

    z-index: 2000;
    align-self: center;

    width: 2rem;
    height: 2rem;
    
    background: red;
    border: 0;
  }
}

.primary-nav__link {
  font-size: var(--fs-bigger);
  letter-spacing: var(--fls-accent-smaller);
  text-decoration: none;
  
  color: var(--clr-light);

  transition: color 0.5s;
}

.primary-nav__link:hover {
  color: var(--clr-primary);
  text-decoration: underline;
}

.primary-nav__link.active {
  color: var(--clr-primary);
  text-decoration: underline;
}

/* Primary header end */

/* Showcase */

.showcase {
  position: relative;

  display: flex;

  background: url(./img/backgrounds/showcase.jpg);
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  border-bottom: 1px solid var(--clr-light);
}

.hero-video {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-aspect-ratio: 16/9) {
  .hero-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .hero-video {
    width: auto;
    height: 100%;
  }
}

.showcase__title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--clr-light);
  text-transform: uppercase;
  /* font-size: min(15vw, var(--fs-h1)); */
  letter-spacing: var(--fls-accent);
  line-height: initial;

  z-index: 15;
}

.showcase__title {
  font-family: 'Audiowide', cursive;
  /* font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rubik 80s Fade', cursive;
  font-family: 'Russo One', sans-serif; */

  font-size: min(15vw, var(--fs-h1));
  cursor: default;

  color: transparent;
  -webkit-text-stroke: 3px var(--clr-light);

  transition: color .3s, -webkit-text-stroke .3s;
}

.showcase__title:hover {
  /* -webkit-text-stroke: 3px var(--clr-white);
  color: transparent; */

  -webkit-text-stroke: 0;
  color: white;
}

.showcase__subtitle {
  font-family: 'Audiowide', cursive;
  /* font-family: 'Oswald', sans-serif;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Rubik 80s Fade', cursive;
  font-family: 'Russo One', sans-serif; */

  font-size: min(3vw, var(--fs-h1-sub));
  cursor: default;

  text-align: center;
}

/* Showcase end */

/* Sections */

.section-header-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section-header-container--left {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.section-header {
  font-family: 'Audiowide', cursive;
  font-size: min(8vw, var(--fs-h3-section-header));

  /* color: var(--clr-dark); */

  /* padding: 20px 30px 0px 30px; */
  /* border-bottom: 6px solid var(--clr-primary); */
  margin-block: 50px;
}

/* Backgrounds for main content section */
.bg_img--products {
  position: relative;
}

.bg-img--background-0 {
  position: fixed;

  inset: 0;
  
  background-color: var(--clr-black);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -50;
}

.bg-img--background-black {
  position: fixed;

  inset: 0;

  background-color: var(--clr-black);
  opacity: .5;

  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -10;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInOutReverse {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

.bg-img--background-1 {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(./img/backgrounds/abstract_blue.png);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -11;

  animation: fadeInOut 5s linear infinite;
}

.bg-img--background-2 {
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(./img/backgrounds/abstract_yellow-light_blue.png);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -12;

  animation: fadeInOutReverse 5s linear infinite;
}

.bg-img--foreground {
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-image: url(./img/backgrounds/nodes.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: -5;
}

/* Backgrounds for main content section - end */

/* About Us */
/* About Us end*/

/* Our Services */

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 35rem) {
  .cards-container {
    flex-direction: row;
  }
}

.card {
  color: white;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  background-color: rgba(43, 43, 43, 0.1);

  padding: 0 1rem 3rem 1rem;

  position: relative;
  border-radius: 1rem;

  flex: 1;
}

.card--1,
.card--2,
.card--3 {
  transition: all .3s ease-out;
  cursor: pointer;
}

.card--1 {
  background: rgb(155,66,89);
  background: linear-gradient(25deg, rgba(155,66,89,0.20) 0%, rgba(155,66,89,0) 90%);
}

.card--1:hover {
  scale: .975;
}

.card--2 {
  background: rgb(35,54,142);
  background: linear-gradient(0deg, rgba(35,54,142,0.20) 0%, rgba(35,54,142,0) 90%);
}

.card--2:hover {
  scale: 1.025;
}

.card--3 {
  background: rgb(156,51,0);
  background: linear-gradient(-25deg, rgba(156,51,0,0.20) 0%, rgba(156,51,0,0) 90%);
}

.card--3:hover {
  scale: .975;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1rem; 
  padding: 1px; 

  background: linear-gradient(to bottom, var(--clr-light), transparent);

  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
    mask-composite: exclude; 
}

@media screen and (min-width: 35rem) {
  .card--side {
    scale: .95;
  }
}

.card__img {
  max-width: 100%;
}

@media screen and (max-width: 35rem) {
  .card__img {
    max-width: 70%;
    margin: auto;
  }
}

.card__title {
  font-size: min(5vw, var(--fs-h4));
  font-weight: var(--fw-bold);

  padding-bottom: 2rem;
}

.card__desc {
  padding-inline: 1rem;
}

/* Our Services end */

/* Products */
/* Products - end */


/* Contact us */
.section--contact {
  padding-block: 5rem;
}

.bg_img--contacts {
  background-image: url(./img/backgrounds/abstract_blue_2.png);
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-form {
  background-color: transparent;
  overflow: hidden;
  padding: 2em;
  color: var(--clr-light);
}

.contact-form input,
.contact-form textarea {
  background-color: transparent;
  color: var(--clr-light);

  border: 1px solid var(--clr-dark);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: var(--clr-light);
  opacity: .4;
}

.contact-form input:focus,
.contact-form textarea:focus {
  background-color: transparent;
  color: var(--clr-light);

  border: 1px solid var(--clr-primary);

  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 35rem) {
  .bg_img--contacts {
    background-position: left;
  }

  .contact-form input,
  .contact-form textarea {
    border: 1px solid hsl(12, 100%, 99%, .5);
  }
}

/* Sections end*/

/* Utility classes */

.text-center {
  text-align: center;
}

.text-light {
  color: var(--clr-light);
}

/* Utility classes end */