{% load cms_tags menu_tags sekizai_tags %}
{% load static %}
{% load i18n %}
<html>
    <section id={{instance.link_href}} class="d-lg-flex align-items-center p-5 text-center text-md-start text-dark bg_img">
        <div class="container">
            <div class="d-lg-flex align-items-center justify-content-between">
                <div class="h3_heading me-lg-5 mb-5 mb-lg-0">
                    <h3>{{ instance.title }}</h3>
                    <p>{{ instance.text }}</p>

                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% elif message.tags == 'warning' %}
                                {% if request.toolbar.edit_mode_active %}
                                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                        {{message}}
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>
                                {% endif %}
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{message}}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="flex-fill ps-lg-5 ms-lg-5">
                    {% if form %}
                        <form class="contact-form needs-validation" id="form" novalidate action="#{{instance.link_href}}" name="contact_form" method="POST">
                            {% csrf_token %}
                            <div class="">
                                <div class="mb-3">
                                    <label class="form-label mail" for="mail">{% trans "Email" %}</label>
                                    {{ form.email }}
                                    <span class="error"></span>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="mb-3">
                                        <label class="form-label" for="first-name">{% trans "Name" %}</label>
                                        {{ form.first_name }}
                                        <span class="error"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label" for="last-name">{% trans "Surname" %}</label>
                                        {{ form.last_name }}
                                        <span class="error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="">
                                    <div class="mb-3">
                                        <label class="form-label" for="countrycode">{% trans "Phone number" %}</label>
                                        <label class="form-label" for="phone-number"></label>                                    
                                        <div class="input-group">
                                                {{ form.country_code }}
                                                {{ form.phone_number }}
                                                <span id="countrycode-error" class=""></span>
                                                <span id="phone-number-error" class=""></span>   
                                        </div>                                   
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <span id="cc" class="valid-feedback error"></span>
                                </div>
                                <div>
                                    <span id="pn" class="valid-feedback error"></span>
                                </div>
                            </div>
                            <div class="">
                                <div class="mb-3">
                                    <label class="form-label" for="subject">{% trans "Subject" %}</label>
                                    {{ form.subject }}
                                    <span class="error"></span>
                                </div>
                            </div>
                            <div class="">
                                <div class="mb-3">
                                    <label class="form-label" for="message">{% trans "Message" %}</label>
                                    {{ form.text }}
                                    <span class="error"></span>
                                </div>
                            </div>
                            <div class="">
                                <div class="mb-3 captcha">
                                    {{ form.captcha }}
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="fw-bold fs-3 btn btn-primary my-5 width-100 py-2" id="form_submit_button" name="contact_submit" disabled>{% trans "Send" %}</button>
                            </div>
                            <div>
                                <p class="m-0 fs-5">
                                    {{ instance.confirmation }}
                                </p>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</html>